/* Resetowanie marginesów */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  height: 100vh;
}

/* Styl dla głównej zawartości */
.content {
  flex: 1;
  padding: 20px;
}
button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
select {
  width: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

select:focus {
  border-color: #3498db; /* Kolor ramki przy focus */
  outline: none;
}

option {
  padding: 10px;
}
input {
  width: flex;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.button-logout {
  background-color: #3498db;
  color: white;
  border: none;
  position: fixed;
  bottom: 0;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  bottom: 20px;
}

button:hover {
  background-color: #2980b9;
}
.list {
  color: #23a9f4;
}
.google-calendar {
  border-radius: 10px;
  height: 900px;
  width: 100%;
}

.employee-table,
.customer-table,
.table-invoice {
  width: 100%; /* Rozciąga tabelę na całą szerokość ekranu */
  table-layout: fixed; /* Zapewnia równomierne rozłożenie szerokości komórek */
  margin-top: 10px;
}

.employee-table,
.customer-table,
.table-invoice {
  border-spacing: 10px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 95%; /* Zmieniono na 100%, aby tabela zajmowała całą szerokość kontenera */
  table-layout: fixed; /* Ustawienie stałej szerokości komórek, aby tabela była bardziej stabilna */
  box-sizing: border-box; /* Umożliwia wliczenie paddingu i border w szerokość */
  overflow-x: auto; /* Umożliwia przewijanie w poziomie, gdy zawartość jest za szeroka */
}

.employee-table th,
.customer-table th,
.table-invoice th {
  padding-bottom: 15px;
  padding-top: 15px; /* Dodane wypełnienie na górze nagłówków */
  border-bottom: 1px solid #ccc;
  text-align: left; /* Wyśrodkowanie tekstu w nagłówkach */
}

.employee-table td,
.customer-table td,
.table-invoice td {
  padding: 10px;
  padding-bottom: 15px;
  text-align: left; /* Wyśrodkowanie tekstu w komórkach */
  word-wrap: break-word; /* Zapobiega zawijaniu tekstu w komórkach */
}

/* Styl dla komórek tabeli */
.employee-table tr:nth-child(even),
.customer-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Zmienny kolor tła dla parzystych wierszy */
}

/* Styl dla hover na wierszach */
.employee-table tr:hover,
.customer-table tr:hover {
  background-color: #f1f1f1; /* Zmiana tła przy najechaniu */
}
.contact-section {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
}
.contact-section p {
  font-size: xx-large;
}
.contact-section h2 {
  font-size: 50px;
}
.icons-contact {
  text-align: center;
  align-items: center;
}
.icons-contact img {
  padding: 10px 10px;
}
.invoicesTables1,
.invoicesTables2 {
  border-spacing: 10px;
  bottom: 10px;
  display: 1;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: white;
  color: black;
  position: relative;
  width: 100%;
  float: left;
}
.invoicesTables1 th,
.invoicesTables2 th {
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

.invoicesTables1 td,
.invoicesTables2 td {
  padding-bottom: 15px;
  padding: 10px;
  text-align: center;
}
.timesheet {
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 1px solid;
}
.confirmButton,
.deleteButton,
.addButton {
  margin: 10px;
  /* dodaj inne parametry */
}
.delete-button {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: 2980b9;
}

.input-row {
  display: flex;
  flex-wrap: wrap; /* Dzięki temu elementy formularza mogą się układać w nowej linii, gdy brakuje miejsca */
  gap: 10px; /* Odstęp między polami */
  justify-content: space-between;
}

.input-row input {
  flex: 10%; /* Każde pole ma 45% szerokości, ale może się zmieniać w zależności od dostępnej przestrzeni */
  max-width: 95%; /* Zapewnia, że pole nie wyjdzie poza ekran */
  box-sizing: border-box; /* Zapobiega rozszerzaniu się elementu poza ustaloną szerokość */
  padding: 7px;
}

.input-row button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #2980b9;
}

.actions {
  display: flex;
  justify-content: flex-end; /* Przesuwa przyciski na prawą stronę */
  gap: 10px; /* Ustawia odstęp między przyciskami */
}
.add-employee,
.add-customer {
  width: 100%;
  box-sizing: border-box;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
.invoicesChange,
button {
  margin-left: 10px;
}
.chooseButoon {
  margin-top: 10px;
}
.inputTables {
  bottom: 5%;
  border: none;
  border-radius: 10px;
  background-color: #0a0811;
  color: white;
  position: relative;
  width: 95%;
  float: left;
}
.inputTables th {
  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid;
}

.inputTables td {
  padding: 1%;
  text-align: center;
}
table {
  width: 100%;
}

th,
td {
  text-align: center;
}
.total-hours {
  position: fixed;
  bottom: 0;
  left: 10;
}

@media screen and (max-width: 768px) {
  .invoicesTables1,
  .invoicesTables2 {
    padding: 15px;
  }

  th,
  td {
    padding: 8px;
  }
}
